In [ ]:
array([[-0.348621, -0.017441, -0.155884, ..., -0.402866, -0.363316,
         0.590777],
       [ 0.163008, -0.27806 , -0.453527, ..., -0.150796, -0.156616,
        -0.005837],
       [-0.68948 , -0.714753, -0.100995, ...,  0.157934, -0.369581,
         0.330841],
       ..., 
       [-0.590814, -0.158256, -0.082428, ...,  0.540853, -0.609075,
        -0.36388 ],
       [-0.096123, -0.360335,  0.112305, ...,  0.439847, -0.114253,
         0.071804],
       [-0.106957, -0.112951, -0.016469, ...,  0.005712, -0.110301,
        -0.000853]])

In [ ]:
array([['-0.34862100000000001', '-0.017441000000000002',
        '-0.15588399999999999', ..., '-0.402866', '-0.36331599999999997',
        '0.590777'],
       ['0.16300799999999999', '-0.27805999999999997',
        '-0.45352700000000001', ..., '-0.15079600000000001',
        '-0.15661600000000001', '-0.0058370000000000002'],
       ['-0.68947999999999998', '-0.71475299999999997', '-0.100995', ...,
        '0.15793399999999999', '-0.36958099999999999', '0.330841'],
       ..., 
       ['-0.59081399999999995', '-0.15825600000000001',
        '-0.082428000000000001', ..., '0.54085300000000003',
        '-0.60907500000000003', '-0.36387999999999998'],
       ['-0.096123', '-0.36033500000000002', '0.112305', ...,
        '0.43984699999999999', '-0.11425299999999999',
        '0.071804000000000007'],
       ['-0.106957', '-0.112951', '-0.016469000000000001', ...,
        '0.0057120000000000001', '-0.110301', '-0.00085300000000000003']], dtype=object)

In [1]:
import numpy as np
import pandas as pd
import utils

In [2]:
import os
print(os.getcwd())

/home/olivares/Documents/TSTL/prototypes

In [3]:
#es_df.to_csv(path_or_buf="es.n2v.seed",sep=" ",header=False)

In [4]:
es,na = utils.load_embeddings("n2v")
lexicon = utils.get_lexicon("seed")

In [5]:
lexicon.head()

       esp     nah
0  cebolla  xonaca
1  ajo      axox
2  kilo     ki
3  aquí     nican
4  haba     ahuax

In [6]:
newfile_es = open("../vectors/es.node2vec.embeddings","r")
newfile_na = open("../vectors/na.node2vec.embeddings","r")

In [7]:
lines_es = newfile_es.readlines()
lines_na = newfile_na.readlines()

In [8]:
lines_es.pop(0)
lines_na.pop(0)

'1904 128\n'

In [9]:
tmp_es = list()
tmp_na = list()

In [10]:
for line in lines_es:
    tmp_es.append(line.split())

for line in lines_na:
    tmp_na.append(line.split())

In [11]:
lexicon_es= list((lexicon["esp"]))
lexicon_na= list((lexicon["nah"]))

In [12]:
#tmp_es1 = [tmp_es[i] for i in range(len(tmp_es)) if tmp_es[i][0] in lexicon_es]
#tmp_na1 = [tmp_na[i] for i in range(len(tmp_na)) if tmp_na[i][0] in lexicon_na]

In [16]:
es_df = pd.DataFrame.from_records(tmp_es)
na_df = pd.DataFrame.from_records(tmp_na)

In [19]:
es[es[0]=="cebolla"]

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,128
734,cebolla,0.167541,0.19661100000000001,-0.97720899999999999,0.58840000000000003,-0.88506399999999996,-0.151472,-0.300342,-0.061525000000000003,0.42176799999999998,...,-0.73907299999999998,-0.25171300000000002,0.70741200000000004,0.25678099999999998,-0.103711,-0.047140000000000001,-0.116604,-0.20202400000000001,-0.037447000000000001,-0.97604599999999997

In [17]:
es_df[es_df[0]=="cebolla"]

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,128
734,cebolla,0.167541,0.19661100000000001,-0.97720899999999999,0.58840000000000003,-0.88506399999999996,-0.151472,-0.300342,-0.061525000000000003,0.42176799999999998,...,-0.73907299999999998,-0.25171300000000002,0.70741200000000004,0.25678099999999998,-0.103711,-0.047140000000000001,-0.116604,-0.20202400000000001,-0.037447000000000001,-0.97604599999999997

In [18]:
es_df.head()

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,128
0,igual,-0.021394,-0.22308600000000001,0.081375000000000003,-0.44000800000000001,0.41420299999999999,-0.37752400000000003,-0.40576099999999998,-0.080980999999999997,-0.14319200000000001,...,-0.185254,0.17538200000000001,0.326658,0.094920000000000004,-0.69681999999999999,0.0026940000000000002,-0.45110899999999998,-0.47127799999999997,0.041342999999999998,-0.38586300000000001
1,hermano,-0.27513300000000002,-0.290684,-0.035325000000000002,-0.172819,-0.171268,0.19417799999999999,-0.260795,-0.131469,-0.56005700000000003,...,-0.77275700000000003,0.26308999999999999,0.152056,-0.34808899999999998,0.31774200000000002,0.093362000000000001,-0.53920000000000001,-0.091986999999999999,0.24560499999999999,0.074918999999999999
2,martajan,-0.39002700000000001,-0.18165300000000001,-0.26608799999999999,0.13489100000000001,-0.105633,-0.124488,-0.85740300000000003,-0.210449,0.10071099999999999,...,-0.30548500000000001,-0.43815399999999999,0.63305199999999995,-0.086624000000000007,0.049135999999999999,-0.166021,-0.45888899999999999,0.21430399999999999,-0.089515999999999998,-0.083751000000000006
3,fuero,0.038670999999999997,-0.12618799999999999,-0.12856699999999999,-0.10723100000000001,0.091522000000000006,-0.15167600000000001,-0.137239,-0.118836,-0.078329999999999997,...,-0.22109699999999999,0.062376000000000001,0.249082,0.034577999999999998,-0.069553000000000004,0.11555600000000001,-0.058006000000000002,0.075348999999999999,-0.039742,0.043875999999999998
4,ehecatl,-0.262042,-0.34154400000000001,0.020990999999999999,-0.098941000000000001,0.0065110000000000003,-0.40626099999999998,-0.011587,-0.046593999999999997,0.20002200000000001,...,-0.087499999999999994,-0.12940599999999999,-0.203127,-0.14116500000000001,-0.11533,-0.20407400000000001,-0.14868200000000001,-0.107582,-0.051375999999999998,0.16094600000000001

In [ ]:
na_df.head()

In [ ]:
es_index = [int(es[es[0] == palabra].index[0])for palabra in lexicon_es]
na_index = [int(na[na[0] == palabra].index[0])for palabra in lexicon_na]

In [ ]:
lexicon_es

In [ ]:
es_df[es_df[0]=="cebolla"]

In [ ]:
es_vectores = utils.get_vectors(es_df,es_index)
na_vectores = utils.get_vectors(na_df,na_index)

In [ ]:
es_vectores.tofile("node2vec_es", format="%s")

In [ ]:
es_df[es_df[0]=="cebolla"]

In [ ]:
es_df = pd.concat([pd.DataFrame(es[es[0]==i]) for i in lexicon],ignore_index=True)
na_df = pd.concat([pd.DataFrame(na[na[0]==i]) for i in lexicon],ignore_index=True)

In [ ]:
es_df.to_csv(path_or_buf="es.n2v.eval",sep=" ",header=False,index=None)
#na_df.to_csv(path_or_buf="na.w2v.1400.seed",sep=" ",header=False,index=None)

In [ ]:
%matplotlib notebook
import numpy as np
import matplotlib.pyplot as plt

matrix = np.logspace(0.1, 1, 500, endpoint=True)

fig = plt.figure()
ax = fig.add_subplot(111)
plt.ion()
plt.grid(True)
fig.show()
fig.canvas.draw()

for i in range(0,500):
    if i % 10 == 0:
        ax.scatter(i,matrix[i])
        fig.canvas.draw()

In [ ]:
import numpy as np
import utils

In [ ]:
es,na = utils.load_embeddings()

In [ ]:
es_vectores = np.array([(es.iloc[_].loc[1::]) for _ in range(es.shape[0])]).astype(np.float64)
na_vectores = np.array([(na.iloc[_].loc[1::]) for _ in range(na.shape[0])]).astype(np.float64)

In [ ]:
tem=es_vectores[:10]

In [ ]:
temp = list()

for i in range(tem.shape[0]):
    temp.append(tem[i].tolist())
    temp.append(tem[i].tolist())

In [ ]:
nw=np.array(temp).astype(np.float64)

In [ ]:
nw[1]

In [ ]:
es_vectores.mean()

In [ ]:
es_vectores.min()

In [ ]:
es_vectores.max()

In [ ]:
np.std(es_vectores, dtype=np.float64)

In [ ]:
np.var(es_vectores)

In [ ]:
np.nanstd(es_vectores)