In [2]:
from pandas import set_option, read_csv
from numpy import array, float64

__author__ = "Olivares Castillo José Luis"

In [3]:
# Se establece la precisión con la que Pandas lee el archivo para evitar que
# trunque el valor de los vectores
set_option('display.max_colwidth', -1)
set_option('precision', 18)

In [4]:
def load_node2vec():
    """
    Esta función lee los archivos para almacenar los vectores node2vec del español
    y náhuatl los retorna en dataframes de Pandas.
    
    Returns:
        Pandas.dataframe (2): dataframes con palabras/node2vec.
    """

    es = read_csv("../vectors/es.node2vec.embeddings",delimiter=" ", skiprows=1, header=None)
    nah = read_csv("../vectors/na.node2vec.embeddings",delimiter=" ", skiprows=1, header=None)

    return es, nah

In [5]:
es, na = load_node2vec()

In [6]:
len(na)

1904

In [7]:
es.shape

(4433, 129)

In [28]:
(na[na[0]=='peukh'].shape[0]) == 0

True

In [73]:
def get_seed_index(lexicon_input, lexicon_target):
    names = ["esp", "nah"]
    # Se lee el lexicon necesario
    lexiconsemilla = read_csv("../lexiconessemilla/lexiconsemilla_final.txt", delimiter=" ", names=names)
    
    print(lexiconsemilla.shape)
    semillas_esp = list(lexiconsemilla["esp"].values)
    semillas_nah = list(lexiconsemilla["nah"].values)
    
    pares = list(zip(semillas_esp,semillas_nah))
        
    not_found = list()
    for i,palabra_es in enumerate(semillas_esp):
        if lexicon_input[lexicon_input[0] == palabra_es].shape[0] == 0:
            not_found.append(i)
    print("es",not_found)
    
    not_found = tuple(not_found)
    
    for i in not_found:
        print(pares[i][0])
    
    pares = [v for i,v in enumerate(pares) if i not in frozenset(not_found)] 
    
    with open("newlexicona.lst","w") as fd: 
        for _ in pares: 
            fd.write(_[0]+" "+_[1]+"\n")
            
    ##################
    
    semillas_esp, semillas_nah = zip(*pares)
    print(len(semillas_esp))
    del not_found
    not_found = list()
    for i,palabra_na in enumerate(semillas_nah):
        if lexicon_target[lexicon_target[0] == palabra_na].shape[0] == 0:
            not_found.append(i)
    print("nah",not_found)
    
    not_found = tuple(not_found)
    for i in not_found:
        print(pares[i][1])
    pares = [v for i,v in enumerate(pares) if i not in frozenset(not_found)] 
    
        
    with open("newlexiconb.lst","w") as fd: 
        for _ in pares: 
            fd.write(_[0]+" "+_[1]+"\n")
    
    semillas_esp, semillas_nah = zip(*pares)
    #print("asd",type(semillas_esp),len(semillas_nah))
    
    
    
    index_esp = [int(lexicon_input[lexicon_input[0] == palabra].index[0])
                 for palabra in semillas_esp]
    
    index_nah = [int(lexicon_target[lexicon_target[0] == palabra].index[0])
                 for palabra in semillas_nah]
    
    return index_esp,index_nah

i_es,i_na = get_seed_index(es,na)
print(len(i_es),len(i_na))

(515, 2)
es [6, 22, 53, 94, 106, 133, 134, 236, 364, 435, 494, 495, 503]
no
y
uno
tener
todo
con
se
ya
hacer
haber
película
proyecto
moverse
502
nah [66, 80, 152, 266, 307, 469]
no
ce
to
ye
a
cemelle
496 496

In [70]:
na[na[0] == "cemelle"]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 129 columns]

In [62]:
es[es[0]=="uno"]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 129 columns]

In [64]:
na[na[0]=="no"]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 129 columns]

In [18]:
i_es

[734,
 4199,
 3508,
 3047,
 2645,
 3174,
 1157,
 751,
 1574,
 3262,
 3421,
 1207,
 1475,
 2972,
 4312,
 1034,
 2239,
 2487,
 2939,
 2365,
 2780,
 1756,
 1745,
 602,
 3149,
 793,
 619,
 1948,
 3113,
 1352,
 3609,
 2321,
 3879,
 1359,
 1415,
 2794,
 3420,
 2923,
 3745,
 948,
 2650,
 4071,
 2347,
 1143,
 3212,
 3637,
 20,
 1973,
 3658,
 1121,
 2694,
 3683,
 1205,
 4409,
 2187,
 576,
 1146,
 2956,
 37,
 3676,
 4262,
 3442,
 1772,
 100,
 2248,
 2336,
 1927,
 823,
 2332,
 1102,
 3962,
 443,
 1389,
 75,
 1641,
 1155,
 4144,
 2869,
 434,
 2242,
 3154,
 3612,
 2889,
 3519,
 2753,
 886,
 4121,
 241,
 1693,
 136,
 1206,
 4008,
 1534,
 3808,
 2886,
 1639,
 3991,
 3375,
 4098,
 1054,
 2655,
 3846,
 2801,
 4304,
 2261,
 4349,
 701,
 157,
 728,
 2767,
 2414,
 2948,
 2560,
 4329,
 761,
 1353,
 743,
 3554,
 2392,
 4160,
 3704,
 1064,
 3799,
 3579,
 3486,
 171,
 2731,
 2734,
 3680,
 2267,
 2085,
 2368,
 3951,
 2484,
 855,
 2666,
 2453,
 1232,
 1856,
 2879,
 3985,
 2471,
 2243,
 2370,
 166,
 2877,
 590,
 3911,
 1151,
 3280,
 631,
 2497,
 752,
 2168,
 2859,
 903,
 1190,
 1069,
 2254,
 3057,
 3942,
 3941,
 558,
 2648,
 1323,
 2443,
 2369,
 727,
 2534,
 3766,
 2413,
 273,
 4036,
 1491,
 3032,
 2029,
 2941,
 3139,
 3916,
 1780,
 412,
 2104,
 4037,
 124,
 1592,
 1382,
 2622,
 717,
 3335,
 1394,
 2871,
 2522,
 2213,
 3939,
 3813,
 3657,
 3432,
 2292,
 3190,
 1512,
 3791,
 2602,
 3339,
 349,
 340,
 2476,
 3555,
 1048,
 3277,
 2114,
 762,
 2955,
 1423,
 3601,
 308,
 2080,
 2366,
 3094,
 389,
 2232,
 1606,
 3169,
 2255,
 1784,
 800,
 3827,
 2834,
 39,
 731,
 2693,
 4004,
 4340,
 3219,
 3763,
 4190,
 3767,
 4167,
 3935,
 3303,
 1935,
 3077,
 322,
 2008,
 17,
 4309,
 2388,
 2902,
 887,
 277,
 3341,
 3412,
 1567,
 2030,
 3359,
 1466,
 1228,
 1761,
 2354,
 1873,
 2882,
 377,
 2808,
 2059,
 2483,
 2209,
 2329,
 3732,
 1115,
 2533,
 2839,
 1050,
 3838,
 3031,
 3584,
 3830,
 3546,
 4141,
 3794,
 328,
 1578,
 306,
 2696,
 2935,
 4318,
 2608,
 4249,
 1092,
 87,
 579,
 993,
 244,
 2223,
 1022,
 3104,
 2278,
 177,
 336,
 1583,
 295,
 3199,
 593,
 984,
 2075,
 555,
 1078,
 2518,
 4223,
 4373,
 2212,
 2928,
 2992,
 1471,
 1673,
 2415,
 2172,
 1749,
 711,
 625,
 2878,
 489,
 1200,
 1868,
 628,
 2398,
 3326,
 2768,
 315,
 3298,
 1006,
 4257,
 1819,
 2077,
 1554,
 3974,
 2157,
 1759,
 1659,
 119,
 365,
 2380,
 2875,
 4342,
 4327,
 3819,
 2096,
 698,
 1679,
 442,
 3344,
 3497,
 1492,
 1888,
 487,
 2412,
 72,
 98,
 3336,
 4235,
 1572,
 2635,
 1640,
 1962,
 2675,
 4035,
 597,
 476,
 199,
 2862,
 2841,
 850,
 845,
 1642,
 3247,
 2266,
 2615,
 3884,
 4065,
 1062,
 3130,
 1676,
 4380,
 447,
 2691,
 3995,
 300,
 1549,
 1741,
 4386,
 2544,
 3300,
 414,
 955,
 4430,
 680,
 1283,
 2652,
 4131,
 4021,
 1832,
 254,
 1130,
 3901,
 2403,
 1075,
 242,
 1982,
 3012,
 1715,
 1607,
 1330,
 1857,
 160,
 2661,
 216,
 3455,
 1782,
 3989,
 3619,
 2800,
 2174,
 1463,
 2883,
 3562,
 1259,
 2144,
 3165,
 3557,
 1,
 1226,
 1120,
 1029,
 1813,
 1372,
 2672,
 2633,
 1311,
 4347,
 2537,
 2755,
 2273,
 385,
 1392,
 427,
 2546,
 4074,
 1696,
 919,
 2359,
 84,
 1691,
 1386,
 1979,
 321,
 1446,
 3485,
 3396,
 3050,
 3553,
 2495,
 437,
 1434,
 2456,
 1865,
 2601,
 3687,
 4391,
 4374,
 3267,
 3439,
 2827,
 2268,
 1032,
 1851,
 839,
 297,
 1817,
 3969,
 506,
 1516,
 2915,
 4201,
 3621,
 65,
 1611,
 49,
 2426,
 4296,
 686,
 3872,
 426,
 729,
 2409,
 3605,
 4419,
 12,
 4045,
 3172,
 2039,
 3540,
 1918,
 4018,
 4139]

In [ ]:
len(i_es)

In [ ]:
pares.__len__()

In [ ]:
es[es[0] == 'sal'].index.get_values().__len__()

In [ ]:
p = ['a','3d','f','1312']

In [ ]:
p.remove('a')

In [ ]:
p.pop(0)

In [ ]:
bad=list()

In [ ]:
for i,palabra_es in enumerate(semillas_esp):
    if es[es[0] == palabra_es].index.get_values().__len__() == 0:
        bad.append(i)

In [ ]:
asd = (2,3,4,5)

In [ ]:
type(asd)

In [ ]:
bad = tuple(bad)

In [ ]:
bad

In [ ]:
newlex = [v for i,v in enumerate(pares) if i not in frozenset(bad)]

In [ ]:
newlex

In [ ]:
semillas_esp1, semillas_nah1 = zip(*newlex)

In [ ]:
list(semillas_esp1)

In [ ]:
pares.__len__()

In [ ]:
int(es[es[0] == 'sal'].index.get_values())

In [ ]:
es[es[0] == 'sal']

In [ ]:
index_esp, index_nah= get_seed_index(es,na)
print(index_esp.__len__(), index_nah.__len__())

In [ ]:
list(enumerate(index_esp))

In [ ]:
def get_seed_index(es,nah):
    """
    Esta función obtiene los índices de las palabras semillas de los
    dataframes.
    Args:
        es (Dataframe): Contiene vectores n2v de español.
        nah (Dataframe): Contiene vectores n2v de náhuatl.
        
    Returns:
        list (2): Listas con índices de las palabras semillas.
    """

    # Dataframe que contiene las palabras semilla para entrenamiento.
    lexiconsemilla = read_csv("../lexiconessemilla/lexicon.esna.proc.norep.tmp2",
                              delimiter=" ",
                              names=["esp", "nah"])

    # Se almacenan las palabras semillas de español y náhuatl en listas.
    semillas_esp = list(lexiconsemilla["esp"].values)
    semillas_nah = list(lexiconsemilla["nah"].values)

    # Se buscan los índices de las palabras semilla en los dataframes para obtener sus
    # representaciones vectoriales.
    # Nota: Se omite la palabra semilla si no existe su representación vectorial.
    index_esp = [int(es[es[0] == i].index.get_values()) for i in semillas_esp
                 if int(es[es[0] == i].index.get_values().__len__()) == 1]
    
    index_nah = [int(nah[nah[0] == i].index.get_values()) for i in semillas_nah
                 if int(nah[nah[0] == i].index.get_values().__len__()) == 1]

    return index_esp, index_nah

In [ ]:
index_esp, index_nah = get_seed_index(es,na)
print(index_esp.__len__(), index_nah.__len__())

In [ ]:
type(index_esp)

In [ ]:
def get_vectors(dataframe, index, format=float64):
    """
    Retorna los vectores dentro del dataframe.
    
    Args:
        dataframe(Pandas.dataframe): Contiene las palabras y su representación vectorial.
        index (list): Contiene los índices que se necesitan del dataframe
    
    Returns:
        Numpy array: Matriz con representaciones vectoriales.
    """
    return array([(dataframe.iloc[_].loc[1::])
                  for _ in index]).astype(float64)

In [ ]:
es_vectores = get_vectors(es,index_esp)
na_vectores = get_vectors(na,index_nah)